<div ng-include="'App/Templates/header-template.html'"></div>
<div class="ibox-content">

    <div ng-include="'App/Templates/image-template.html'"></div>


    <form class="col s12" name="visitanteForm" data-ng-submit="salvar()" novalidate>

        <div class="row">
            <div class="input-field col s6">
                <label for="image"></label>
                <img src="data:image/jpeg;base64,{{visitante.Foto}}" />
            </div>
        </div>
        <div class="row">

            <div class="input-field col s8">
                <input type="text" ng-model="visitante.Nome" length="10" />
                <label>Nome</label>
            </div>

            <div class="input-field col s4">
                <label>Data Nascimento</label>
                <input type="text" input-date select-years="50" format="dd/mm/yyyy" class="datepicker" on-set="onSet('#data_nascimento')" id="data_nascimento" ng-model="visitante.DataNascimento" />

            </div>


        </div>

        <div class="row">
            <div class="input-field col s3">
                <label class="control-label">Identidade</label>
                <input type="text" ng-model="visitante.Identidade" />
            </div>

            <div class="input-field col s3">

                <select name="uf_identidade" id="uf_identidade" material-select watch
                    ng-model="visitante.Estado.Identificador">
                    <option ng-selected="visitante.Estado.Identificador == estado.Identificador"
                        ng-repeat="estado in listaEstados" value="{{estado.Identificador}}">{{estado.Sigla}}
                    </option>
                </select>
                <label for="uf_identidade">UF Identidade</label>
            </div>

            <div class="col s6">
                <div class="col l12" style="margin-top: 20px !important;">
                    <label style="color: #4E4D4C;" for="noEmail">Sexo</label>
                </div>
                <div class="col s4">
                    <input class="with-gap" type="radio" id="masculino" ng-model="visitante.Sexo" value="0" />
                    <label for="masculino">Masculino</label>
                </div>
                <div class="col s4">
                    <input class="with-gap" type="radio" id="feminino" ng-model="visitante.Sexo" value="1" />
                    <label for="feminino">Feminino</label>
                </div>
            </div>

        </div>

        <p class="right-align">
            <button type="submit" ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid) }" class="btn">
                Salvar
            </button>
            <a class="btn btn-warning" href="#/visitante/">Voltar</a>
        </p>
    </form>
</div>






